body {
    height: 90vh;
    width: 97%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

* {
    box-sizing: border-box;
}

h1 {
    position: absolute;
    display: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: ;
}
.date {
    top: 45%;
    font-size: 2em;
}

@media screen and (min-width:200px) and (max-width:900px) {
    h1 {
        font-size: 1em;
    }
    
}